<nav class="bg-emerald-900 backdrop-blur-md w-full text-2xl font-mono font-bold max-h-[120px] fixed top-0 z-50">
  <div class="container mx-auto flex justify-between items-center p-5 ">
    <h1>
      <a class="text-4xl font-bold bg-stone-100 text-teal-700 rounded-2xl py-4 px-6" routerLink="/">SHOPPING APP</a>
    </h1>
    <ng-container class="flex w-full justify-between items-center gap-x-5 "
                  *ngIf="userService.currentUser(); else loginTemplate">
      <ul class="flex gap-x-5"
          *ngFor="let item of headerLink"
      >
        <li class="cursor-pointer text-stone-400 hover:text-white transition-all duration-300 ease-in-out"
            routerLinkActive="text-teal-400" [routerLink]="item.url">{{ item.title }}
        </li>
      </ul>
      <div d class="relative z-20 w-64" (click)="toggleDropdown()">
        <a  class="cursor-pointer text-stone-400 hover:text-white transition-all duration-300 ease-in-out">
          Welcome {{ userService.currentUser()?.phoneNumber | titlecase}}
        </a>
        <!-- dropdown menu -->
        <div [ngClass]="isDropdownOpen ? 'scale-100' : 'scale-0'"
          class="absolute top-14 right-0 w-full bg-stone-800 rounded-2xl shadow-lg z-10">
         <div class="flex flex-col gap-y-3 p-4">
           <a class="cursor-pointer text-stone-400 focus-outline-none px-4 hover:text-white transition-all duration-300 ease-in-out">
             Edit Profile
           </a>
           <hr>
           <button (click)="logout()"
                   class="border hover:bg-emerald-700  border-emerald-700  py-4 px-8 rounded-2xl cursor-pointer text-lg text-white transition-all duration-300 ease-in-out">
             LOGOUT
           </button>
         </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loginTemplate>
      <form class="flex gap-x-5" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <input [(ngModel)]="user.phoneNumber"
               class="p-4 rounded-2xl border text-white border-stone-800/20 bg-stone-800/20"
               type="text"
               name="phoneNumber">
        <input [(ngModel)]="user.password"
               class="p-4 rounded-2xl border text-white border-stone-800/20 bg-stone-800/20"
               type="password"
               name="password">
        <button type="submit"
                class="border hover:bg-emerald-700 border-emerald-700 w-full py-4 px-8 rounded-2xl cursor-pointer text-white  transition-all duration-300 ease-in-out">
          LOGIN
        </button>
      </form>
    </ng-template>
  </div>
</nav>
