<div class="containers">
  <div class="flex flex-col w-full gap-y-32">
<!--    Normal Array-->
    <div class="frame ">
      <li *ngFor="let item of headerItems">
        <ul [routerLink]="item.urlLink">{{item.title}}</ul>
      </li>
    </div>
<!--    Shared Button UseCase-->
    <div class="w-full flex w-full justify-center gap-x-5">
      <app-shared-button
        title="CANCEL"
        bgColor="bg-red-700"
        borderColor="border-red-400"
        hoverBgColor="hover:bg-red-400"
        (buttonClicked)="cancelFunc()"

      >
      </app-shared-button>
      <app-shared-button
        title="START"
        bgColor="bg-green-700"
        borderColor="border-green-400"
        hoverBgColor="hover:bg-green-400"
        (buttonClicked)="startFunc()"
      >
      </app-shared-button>
    </div>
  </div>
<!--  Nested Array-->
  <div *ngFor="let product of products">
    {{product.images.image2}}
  </div>
  <div *ngFor="let prod of productList">
    {{prod.title}}
  </div>
</div>
